body{

background: radial-gradient(circle at center,#0f172a,#020617);

color:white;

font-family:Segoe UI;

text-align:center;

}

h1{

color:#facc15;

margin-top:20px;

font-size:40px;

}

#auctionCard{

background:#111827;

padding:30px;

width:420px;

margin:auto;

border-radius:12px;

box-shadow:0 0 25px #38bdf8;

transition:0.4s;

}

#auctionCard:hover{

transform:scale(1.05);

}

.bigBid{

font-size:40px;

color:#22c55e;

font-weight:bold;

}

.timer{

font-size:28px;

color:#f87171;

}

button{

padding:12px 20px;

border:none;

border-radius:6px;

font-size:16px;

cursor:pointer;

background:#22c55e;

color:white;

transition:0.2s;

}

button:hover{

background:#16a34a;

transform:scale(1.1);

}

#teamBattle{

display:flex;

justify-content:center;

gap:50px;

margin-top:30px;

}

.battleTeam{

background:#1e293b;

padding:20px;

border-radius:10px;

width:200px;

box-shadow:0 0 10px black;

}

.teamCard{

background:#1e293b;

display:inline-block;

padding:15px;

margin:10px;

border-radius:10px;

width:180px;

}

table{

margin:auto;

margin-top:30px;

border-collapse:collapse;

}

th,td{

border:1px solid white;

padding:10px;

}